.music{
  background-color: rgb(0, 0, 75);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  cursor: pointer;
}

.music .miniature{
  padding: 30px;
}

.music .miniature img{
  width: 300px;
}